.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;

  .imagesWrapper {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .inputWrapper {
    margin-top: 2rem;
    display: flex;
  }

  .error {
    color: red;
  }
}